doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dashboard
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', type='text/css', href='/protected.css')
    script(type="text/javascript" language="javascript" src="../scripts/protected.js")
      
    body(onload="loadData();")
       
      div(id="welcomeMsg")
        h1 Dashboard
        h2="Welcome, "+username
        button(onclick="event.preventDefault(); logOut();" id="loginBut") Log Out
      table(class = "table")
        thead
          tr(id="trHead")
            th Username 
            th Email 
          tbody(id="myTable")