doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Success
    link(rel='stylesheet', type='text/css', href='/register.css')
    script.
      async function redirectBut() {
        window.location.href = `http://localhost:3000/login/`;
      }
    body 
      h1 Dashboard 
      h2= data
      button(onclick="event.preventDefault(); redirectBut();") Return to Login