doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Register
    link(rel='stylesheet', type='text/css', href='/register.css')      
    script(type="text/javascript" language="javascript" src="../scripts/register.js")
  body
    h1 Register
    br
    form(onsubmit="event.preventDefault(); register();")
      
      label(for="username") Username:
      input(type="text", id="username", name="username", required)
      label(for="email") Email:
      input(type="email", id="email", name="email", required)
      label(for="password") Password:
      input(type="password", id="password", name="password", required)
      label(for="confirmPassword") Confirm Password:
      input(type="password", id="confirmPassword", name="confirmPassword", required)
      button(type="submit") Register
      br
      br
      div(id="toast-box")
    button(onclick="event.preventDefault(); window.location.href = `http://localhost:3000/login`; ") Login
    