body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  margin-left: 30px;
  margin-top: 50px;
  background-color: aquamarine;
}
.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 5px;
}
input {
  margin-bottom: 20px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
}
button:hover {
  background-color: #218838;
}
#loginBut {
  width: 100%;
}
#welcomeMsg {
  border-radius: 10px;
  border-color: #28a745;
  border: none;
  background-color: #f4f4f4;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table {
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 500px;
  align-self: center;
  overflow: hidden;
  border-top: none;
  border: none;
  border-style: none;
}
#trHead {
  background: #28a745;
  color: white;
  border-top: none;
}
.table > thead > tr > th {
  border-top: none;
}
